body { background-image: url(terrain.jpg);
  background-repeat: no-repeat;
}

li {
  font-family:sans-serif;
  font-size: 110%;
  color:#8275de;
  font-weight: bold;
  text-align: center;
}


.formulaire {
  color: white;
  font-size: 16px;
  text-align: center;
}

.case {
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 480px) {

li {
  color: red;
}

}

@media screen and (min-width: 360px) and (max-width: 640px)   {

  li {
    color: green;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px)   {

  li {
      color: yellow;
    }
}
@media screen and (min-width: 800px) and (max-width: 1280px)   {

  li {
      color: orange;
    }
}
@media screen and (min-width: 900px) and (max-width: 1920px)   {

  li {
      color: white;
    }
}
